.booking-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}
@media (max-width: 768px) {
  .booking-form {
    display: flex;
    flex-direction: column;
  }
}

.booking-form > *:nth-child(7) {
  grid-column: 2/3;
  grid-row: 4/5;
}

.one-part-container {
  display: flex;
  flex-direction: column;
}
.one-part-container label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.one-part-container label span {
  color: #009cff;
  margin-left: 0.3rem;
}
.one-part-container select {
  color: #706f7b;
  border: 1px solid #706f7b;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  font-weight: 400;
  background-color: #f3f3f3;
}
.one-part-container input {
  outline: none;
  border: 1px solid #706f7b;
  background-color: #f3f3f3;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  color: #706f7b;
  font-size: 1rem;
  font-weight: 400;
}

.icon {
  color: #009cff;
  margin-right: 0.75rem;
}

.booking-button-container {
  display: flex;
  align-items: center;
}
.booking-button-container button {
  box-shadow: 0 10px 15px 0 #009cff;
  background-color: #009cff;
  color: #f3f3f3;
  border: 2px solid transparent;
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: self-end;
  width: 100%;
  box-shadow: none;
  padding: 0.6rem;
  border-radius: 3px;
}
.booking-button-container button:hover {
  background-color: #0288db;
  box-shadow: 0 10px 15px 0 #0288db;
  transition: all 1s ease;
}
.booking-button-container button:hover {
  box-shadow: none;
}

.empty {
  background-color: #f8d7da;
  font-size: 1.2rem;
  color: #721c24;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  font-weight: 700;
  border: 1px solid transparent;
}

.ready {
  background-color: #c3fabe;
  font-size: 1.2rem;
  color: #2a6817;
  padding: 0.75rem 3rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  font-weight: 700;
}