.vehicles-section {
  margin-top: 8rem;
  padding: 0 3rem;
  width: 100%;
}
@media (max-width: 768px) {
  .vehicles-section {
    padding: 0 1rem;
  }
}

.vehicles-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vehicles-text h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .vehicles-text h1 {
    text-align: center;
  }
}
.vehicles-text p {
  text-align: center;
  width: 40%;
  color: #706f7b;
  line-height: 23px;
}
@media (max-width: 768px) {
  .vehicles-text p {
    text-align: center;
  }
}

.available-vehicles-container {
  display: flex;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .available-vehicles-container {
    flex-direction: column;
  }
}

.mouse-scroll {
  position: absolute;
  left: 45%;
  bottom: 20px;
}
@media (max-width: 768px) {
  .mouse-scroll {
    display: none;
  }
}

.mouse-round {
  height: 30px;
  width: 20px;
  border: 2px solid #009cff;
  border-radius: 10px;
}
.mouse-round .mouse-wheel {
  width: 2px;
  height: 7px;
  background-color: #009cff;
  margin: 5px auto;
  border-radius: 25px;
  animation: mouse-wheel-anim 1.2s ease infinite;
}
@keyframes mouse-wheel-anim {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

.vehicle-pick-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20%;
  max-height: 25rem;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .vehicle-pick-container {
    width: 100%;
  }
}
.vehicle-pick-container::-webkit-scrollbar {
  display: none;
}
.vehicle-pick-container button {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

.pick-button {
  background-color: #e9e9e9;
}

.active-pick-button {
  background-color: #009cff;
  color: #f3f3f3;
}